#top_container {
	position: fixed;
	top: 200px;
}

.message {
    padding-left: 30px;
	font-family: monoca, monospace;
	font-size: 28px;
	color: #333;
	width: 680px;
}

#top {
	;
}

#bottom_container {
	position: absolute;
	top: 2500px;
	height: 2000px;
	width: 100%
}

#bottom {
	;
}